---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
<body>
  <main class="container">
    <h1 class="title-large">Fei Gao — Research</h1>

    <nav style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <a href="index.html">Home</a> |
        <a href="cv.html">CV</a> |
        <a href="research.html">Research</a>|
        <a href="cello.html">Cello</a> |
        <a href="Miscellaneous_talk.html">Miscellany</a>
      </div>
      <button onclick="document.body.classList.toggle('dark-theme')" style="padding: 4px 8px;">🌓 Theme</button>
    </nav>

    <section class="Research-section">
      <h2 class="section-title">Working Papers</h2>

      <article>
        <p><strong>Redistribution through Consumption Taxes: Evaluating Japan’s Dual-Rate Reform</strong></p>
        <ul class="paper-meta">
          <li><em>Rejected and resubmit from JEDC</em></li>
          <li><a href="https://drive.google.com/file/d/1vBFG5YsmxpyYk-zppaPN30IVrIQPuQyQ/view?usp=sharing">Draft</a></li>
          <li>Retitled from “Consumption Taxes, Inequality, and Welfare: Insights from Japan”</li>
        </ul>
      </article>

      <article>
        <p><strong>How Do Gamblers React to Wins? Evidence from Bank Account Data</strong>, with Kozo Ueda</p>
        <ul class="paper-meta">
          <li><em>Submitted</em></li>
          <li>
            <a href="https://cigs.canon/en/uploads/2024/10/WP24-019E_ueda.pdf">Draft</a> |
            <a href="https://drive.google.com/file/d/1onLkA4YwT4lF00C-nnJ-BRLUPZCk_hNz/view?usp=sharing">Slide</a>
          </li>
        </ul>
      </article>
    </section>

    <section class="Research-section">
      <h2 class="section-title">Work in Progress</h2>
      <ul class="Work-in-Progress-meta">
        <li><article>
        <p><strong>Structural Estimation of Reference Point with Gambling Data</strong></p>
      </article></li> 

      <li><article>
        <p><strong>Wealth, Job Transitions, and Consumption: Evidence from Bank Transaction Data</strong>, with Kozo Ueda and Similan Rujiwattanapong</p>
      </article>
      </li>

      <li><article>
        <p><strong>Habit formation with mental accounting</strong></p>
      </article>
      </li>
    </ul>
    </section>

    <section class="Research-section">
      <h2 class="section-title">Selected Conference and Workshop Presentations</h2>
      <ul>
        <li>NBER Japan Project Meeting, Summer 2026 (forthcoming)</li>
        <li>2026 CSW Asia Meeting (Main), Abu Dhabi</li>
        <li>Econometric Society World Congress 2025</li>
        <li>SWET 2025</li>
        <li>日本経済学会2025年度春季大会</li>
        <li>第19回応用計量経済学コンファレンス</li>
      </ul>
    </section>
  </main>

  {% include footer.html %}
</body>
</html>
